
 /*contact details*/
 .contact-details{
    background-color: rgb(22, 83, 136);
    padding: 20px;
    width: 100%;
 }
.contact-details form{
    box-sizing: border-box;
    padding-left: 40%;
    padding-bottom: 15px;
}
input[type=text], textarea{
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.contact-details h2{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
label{
    padding: 7px 7px 7px 0;
    display: inline-block;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
/* .col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
} */